body{
    margin: 0px;
    overflow: hidden;
}

#map{
    width: 100%;
    /*height: 650px;*/
    height:100%;
}

.ui-tabbed-column{
    position: absolute;
    /*height: 650px;*/
    height: 100%;
    width: 200px;
    z-index: 10000;
}

.leaflet-left.leaflet-top{
    display: none;
}

.ui-column-titlebar{
    height: 60px;
}

.ui-column-tabs{
    position: absolute;
    top: 6px;
    left: 218px;
    box-shadow: 4px 2px 4px rgba(0,0,0,0.4);
    border: #333333 thin solid;
    border-left: none;
}

.ui-column-tabs a{
    position: relative;
    display: inline-block;
    background-color: #cccccc;
    border: #333333 thin solid;
}

.ui-column-tabs a.active{
    background-color: #e7dfd6;
    border-left: #e7dfd6 thin solid;
}

.ui-column-tabs a span{
    display: inline-block;
    width: 86px;
    height: 40px;
    font-size: 11pt;
}


.ui-column-content{
    /*height: inherit;*/
    height: 556px;
    /*margin-bottom: 16px;*/
    overflow: auto;
    direction:rtl;
    text-align: left;
    background-color: #ffffff;
    padding: 0px 6px 0px 6px;
}

.ui-tabbed-column{
    background-color: #e7dfd6;
    padding: 0px 12px 0px 6px;
    border-right: #333333 thin solid;
    box-shadow: 4px 2px 4px rgba(0,0,0,0.4);
}


.ui-infobox-row div{
    display: inline-block
}
.ui-infobox-row div.searchable{
    margin-right: 4px;
}

.ui-infobox-row{
    margin-left: 6px;
    color: #999999;
    font-size: 10pt;
}

.ui-infobox-row:last-child div:first-child{
    font-style: italic;
    /*border-bottom: #999999 thin solid;*/
}

.ui-infobox-row:last-child div:first-child:before{
    content: ":";
}

.ui-infobox h5{
    margin: 0px;
}

.ui-infobox{
    margin-bottom: 8px;
    padding: 2px;
    cursor: pointer;
}

.ui-infobox:hover{
    background-color: #eeeeee;
}

.ui-infobox:hover .ui-infobox-titlebar{
    color: #3366aa;
}

.ui-infobox .ui-infobox-titlebar{
    /*cursor: pointer;*/
}

.ui-tab-trigger{
    text-transform: capitalize;
    padding-left: 2px;
    cursor: pointer;
}

#filter-search{
    width: 200px;
}

body,html
{
    height:100%;
    width: 100%;
    font-family: 'Ubuntu', sans-serif !important;
}

.leaflet-container{
    font: 12px/1.5 'Ubuntu',sans-serif;
}

div.title{
    text-align: center;
    font-size: 24pt;
    width: 100%;
    position: absolute;
    top:0px;
    z-index: 1000;
}

.dark-bkg{
    color: #ffffff;
    background-color: rgba(0,0,0,0.6);
    font-weight: 300;
    /*text-shadow: 0px 0px 18px #000000, 0px 0px 12px #000000, 0px 0px 12px #000000*/
}
.light-bkg{
    color: #000000;
}

.leaflet-control-container .leaflet-top{
    top: 36pt;
}

#map{
    height:100%;
    width: 100%;
}
.leaflet-popup-content{
    width: 200px;
}

.leaflet-left .leaflet-control-scale {
    margin-left: 85px;
}

.leaflet-control-layers-toggle {
    background-image: url(../img/layer.png);
    background-size: 50px 50px;
    width: 55px;
    height: 55px;
}

.leaflet-right.leaflet-right .leaflet-control-layers{
    margin-top: 0px;
    width: 160px;
    border-radius: 0px;
}

/**zoom controls**/
div.leaflet-control-zoom{
    top:5px;
    margin-top:0px;
}
div.leaflet-control-search{
    top:5px;
}

#zoom{
    padding: 3px;
    background-color: #fff;
    border-radius: 4px;
}
#zoom:hover{
    cursor: pointer;
    background-color: #f4f4f4;
}
#zoom>img{
    width: 20px;
    height: 20px;
    outline: rgba(230,230,230,1) solid thin;
}
/****/

.marker-cluster {
    background-color: #FFD700;
}

.table-container
{
    position: absolute;
    bottom: 0px;
    right: 10px;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
    border: #666 thin solid;
    padding: 2px 6px 6px;
    font-family: "Verdana";
    line-height: 1.1;
}

.table .title
{
    font-family: "Helvetica";
    font-style: italic;
    padding-bottom: 4px;
}

.table-content
{
    background-color: #fff;
    max-height: 300px;
    overflow: auto;
    outline: #ccc thin solid;
    width: 340px;
}

.table-row
{
    font-size: 12pt;
    /*outline: #FF0000 thin solid;*/
    border-bottom: #eeeeee thin solid;
    /*color: #FF0000;*/
    display: flex;
    flex-flow: row wrap;
    padding: 4px 2px 4px 2px;
}

.table-row>*
{
    display: inline-block;
    font-weight: 700;
    font-size: 10pt;
    width: 300px;
    line-height: 1.4;
}

.leaflet-popup-content .table-row>*
{
    /*width: 340px;*/
    width: 340px;
    /*min-width: 260px;*/
    /*max-width: 340px;*/
}

.table-row>*:first-child
{
    /*color: #FF0000;*/
    color: #3366aa;
}

.table-row .row-label{
    display: inline-block;
}

.table-row .val
{
    display: inline-block;
    color: #333;
    /*max-width: 150px;*/
    /*min-width: 140px;*/
    /*max-width: 220px;*/
    /*width: 220px;*/
    width:200px;
    vertical-align: text-top;
    float: right;
    /*text-align: right;*/
    margin-left: 4px;
}

/*.table-row>*>*:first-child:before
{
    content: ": ";
}*/

.not-available{
    font-style: italic;
    font-weight: 100;
    color: #aaaaaa;
}

.wayAuthors>*:first-child,.nodeAuthors>*:first-child,.wayAuthor>*:first-child,.nodeAuthor>*:first-child
{
    font-weight: 700;
    color: #900;
}

.other_tags,.osm_id,.osm_way_id,.nodeAuth_2,.wayAutho_2
{
    display: none;
}

.leaflet-popup-content
{
    margin: 10px;
}

.leaflet-container a.leaflet-popup-close-button
{
    top: -6px;
    right: -6px;
    border-radius: 4px;
    background-color: #999999;
    /*border: #FF0000 thin solid;*/
    padding: 0px 2px;
    color: #ffffff;
    vertical-align: text-bottom;
}
.leaflet-container a.leaflet-popup-close-button:hover{
    color: #ffffff;
}

.leaflet-div-icon
{
    background-color: transparent;
    border: 0;
    outline: 0;
}

.leaflet-div-icon>img
{
    width: 25px;
}

.leaflet-control-zoom
{
    /*border: #666 thick solid;*/
    /*border-radius: 0;*/
    background-color: #ffffff;
}

.leaflet-control-zoom a
{
    border-radius: 0;
    background-color: transparent;
}

.leaflet-control-zoom a:hover
{
    border-radius: 0;
    background-color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,0.6);
}

.msg
{
    position: absolute;
    top: 10px;
    left: 35%;
    width: 30%;
    text-align: center;
    font-family: "Helvetica";
    font-size: 12pt;
    background-color: rgba(255,255,255,0.8);
    border: #666 thin solid;
    box-shadow: 0 0 6px rgba(0,0,0,0.6);
}

span.legend-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 20px;
}

div.leaflet-control-layers-overlays label{
    border-bottom: #eeeeee thin solid;
}

/*div.leaflet-control-layers-overlays label:last-child input{
    opacity:0;
}
div.leaflet-control-layers-overlays label:last-child{
    pointer-events: none;
}*/

div.leaflet-control-layers-separator{
    //border-top: 2px solid #dddddd;
    //border-bottom: 2px solid #dddddd;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2) inset;
    //outline: #dddddd 2px solid;
    //outline-offset: -2px;
    height: 10px;
}

.leaflet-popup-content{
    width: auto !important;
}

.leaflet-control-search .search-button{
    background-color: #ffffff;
}

.leaflet-control-attribution div.logo{
    display: inline-block;
    width: 32px;
}

.klllogo{
    position: absolute;
    /*right: -28px;*/
    top: -14px;
    height: 30px;
    background-color: rgba(255,255,255,0.6);
    border-radius:14px;
}

.nitilogo{
    position: absolute;
    /*right: -28px;*/
    top: -14px;
    height: 30px;
    background-color: rgba(255,255,255,0.6);
    /*border-radius:14px;*/
}

.leaflet-bottom.leaflet-left .leaflet-control-attribution{
    margin-left: 5px;
}

.leaflet-bottom.leaflet-right .leaflet-control-attribution{
    /*margin-right: 222px;*/
}

.leaflet-control-attribution:last-child{
    display: none;
}

.leaflet-google-layer{
    -webkit-filter: brightness(1.4) contrast(1.2);
}

.leaflet-google-layer.normal{
    -webkit-filter: brightness(1.2) contrast(1.05);
}

.leaflet-marker-icon.small img{
    width: 20px;
    height: 20px;
}
.leaflet-marker-icon.medium img{
    width: 26px;
    height: 26px;
}
.leaflet-marker-icon.large img{
    width: 34px;
    height: 34px;
}
.leaflet-marker-icon.mega img{
    width: 48px;
    height: 48px;
    -webkit-filter: brightness(1.2) hue-rotate(-120deg) saturate(5);
}
.legend-icon:last-child{
    -webkit-filter: brightness(1.2) hue-rotate(-120deg) saturate(5);
}

.leaflet-marker-icon img{
    margin-top: -100%;
    margin-left: -100%;
}


span.marker-label-districts{
    color: #d5aad0;
    /*background-color: #cccccc;*/
    /*text-shadow: 0px 0px 4px #ffffff, 0px 0px 2px #ffffff;*/
}

@media all and (max-width:960px)
{
    .table-row>*
    {
        width: 184px;
    }

    .msg
    {
        display: none;
    }
}

.hidden
{
    display: none;
}

